.itemHeader{
  padding-left: 10px;
  padding-bottom: 0px;
  padding-top: 5px;
  padding-right: 0px;
}

.items{
  padding-top: 100px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.title{
  padding-bottom: 0px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #2b2b2b;
  width: 80%;
}

.description{
  font-family: 'Roboto', sans-serif;
  color: #2b2b2b;
  font-size: 14px;
}

.rightPadding{
  padding-right: 15px;
}


.customIcon{
  background: none;
  color: #606060;
  border: none;
}

.cardHeader{
  padding-top: 100px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;

  width: 100%;
}


.pane{
  background-color: #f8f8f8;
}

.contentz{
  background-color: #f8f8f8;
}

.editButton{
  width: 20%;
}
